# Krux' standard library, which this is built on
krux-stdlib==3.2.0

# The library this is wrapping
krux-boto==1.6.0
boto==2.49.0
boto3==1.9.150
botocore==1.12.150

# For Python 3 compatibility
six==1.12.0; python_version > '3.0'

# Transitive libraries
# This is needed so there are no version conflicts when
# one downstream library does NOT specify the version it wants,
# and another one does.

# From krux-boto
pystache==0.5.4
Sphinx==1.8.5
Jinja2==2.10.1
Pygments==2.4.2
docutils==0.14
kruxstatsd==0.4.0
statsd==3.3.0
argparse==1.4.0; python_version > '3.0'
GitPython==2.1.11
simplejson==3.16.0
tornado==5.1.1
lockfile==0.12.2
subprocess32==3.5.4
async==0.6.2
fudge==1.1.1
gitdb==0.6.4
smmap==0.9.0
