# Krux' python repo
--extra-index-url https://staticfiles.krxd.net/foss/pypi/

# Krux-boto library which this is built on
krux-boto==1.7.0

# Transitive libraries
# This is needed so there are no version conflicts when
# one downstream library does NOT specify the version it wants,
# and another one does.

# From krux-boto
krux-stdlib==4.0.1
boto==2.49.0
boto3==1.10.21
pystache==0.5.4
Sphinx==1.8.5
Jinja2==2.10.3
Pygments==2.3.1
docutils==0.15.2
kruxstatsd==0.3.6
statsd==3.3.0
argparse==1.4.0
GitPython==2.1.14
simplejson==3.16.0
tornado==5.1.1
lockfile==0.12.2
subprocess32==3.5.3
async==0.6.2
fudge==1.1.1
gitdb==0.6.4
smmap==0.9.0
